{% extends "employee_register/base.html" %}


{% block content %}
  
  <br>

<table #myTable tr class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Book Name</td>
            <td>Author Name</td>
            <td>Subject Name</td>
            <td>Inventory</td>

            <td>
                <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody id="myTable">
        {% for employee in employee_list %}
            <tr>
                <td>{{employee.Bookname}}</td>
                <td>{{employee.Authorname}}</td>
                <td>{{employee.Subjectname}}</td>
                <td>{{employee.Inventory}}</td>
                <td>
                    <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}