
{% extends "employee_register/base.html" %}


{% block content %}

<style>
 
    * {box-sizing: border-box;}
            
            body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
            }
            
            .topnav {
              overflow: hidden;
              background-color: #e9e9e9;
            }
            
            .topnav a {
              float: centre;  
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-size: 17px;
            }
            
            .topnav a:hover {
              background-color: rgb(238, 0, 0);
              color: black;
            }
            
            .topnav a.active {
              background-color: #2196F3;
              color: white;
            }
            
            .topnav .search-container {
              float: centre;
            }
            
            .topnav input[type=text] {
              padding: 6px;
              margin-top: 8px;
              font-size: 17px;
              border: none;
            }
            
            .topnav .search-container button {
              float: centre;
              padding: 6px 10px;
              margin-top: 8px;
              margin-right: 16px;
              background: #ddd;
              font-size: 17px;
              border: none;
              cursor: pointer;
            }
            
            .topnav .search-container button:hover {
              background: #ccc;
            }
            
            @media screen and (max-width: 600px) {
              .topnav .search-container {
                float: centre;
              }
              .topnav a, .topnav input[type=text], .topnav .search-container button {
                float: centre;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 30px;
              }
              .topnav input[type=text] {
                border: 1px solid #ccc;  
              }
            }



</style>



<div class="topnav">
    <div class="search-container">
    
       <form class="" method="post" > 
         {% csrf_token %}
        <input type="text" placeholder="Search with User name" name="srh">
        <button type="submit"><i class="fa fa-search"></i> Search </button>
      </form>
       
    </div>
  </div>

<br>

<div>
      {% if messages %}
      <ul class ="messages">
          {% for k in messages %} 
          <li style = "color: red" >{{k}} </li>

          {% endfor %}
        </ul>
      {% endif %}
    </div>
  

{% if form1 %}

  <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Roll No.</td>
            <td>Avg Marks</td>
            <td>Phone No.</td>
            
        </tr>
    </thead>
    <tbody>

        {% for form_data in form1 %}
            <tr>
                <td>{{form_data.Rollno}}</td>
                <td>{{form_data.Avgmarks}}</td>
                <td>{{form_data.Phno}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock content %}