


<form action="" method="post" enctype="multipart/form-data">
    Select File to upload:
    <input type="file" name="document">
    {% csrf_token %}

    <input type="submit" value="Upload File" name="submit">
</form>


<!--
<div class="container mt-3">
    <h2>PLease Choose Your File ! </h2>
    <p></p>
    <form action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
      <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name="document">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      
    
    
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  
 
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(document);
    });
</script>

-->
<!--
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a> </p>
{% endif %}

-->

<hr>

        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}

      
