{% load static %}	
	
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'home/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'home/vendor/magnific-popup/magnific-popup.css'%}" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="{% static 'home/css/creative.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
		{% if user.is_authenticated %}
	  <a class="navbar-brand js-scroll-trigger" href="#page-top">Hi,{{user.username}}</a>
	  	{% endif %}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="http://127.0.0.1:8000/home">Home</a>
		  </li>
		  
		  {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="home/admin">Admin Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="home/book">Add Book</a>
		       </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="home/login/signout">Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="home/user/list">Check User Data</a>           
          </li>
               
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Want To Search!</a>
		  </li>
         

		  {% else %}
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="home/login">Log In</a>
		  </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="home/register">Sign Up</a>
		  </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Feedback</a> 
           <!-- <a class="nav-link js-scroll-trigger" href="home/user">Check User Data</a> -->
      </li>
      
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
  </li>
		  
		  {% endif %}

    
		  
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Welcome To The New Era Of Book Management !</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Lets Begin !</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="home/admin">Admin Dashboard</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">We've got what you need!</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">Want to add book go ahead !</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="home/book">Add Book</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 class="h4 mb-2">Statistics</h3>
            <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
            <h3 class="h4 mb-2">Up to Date</h3>
            <p class="text-muted mb-0">Code as a Service.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-globe text-primary mb-4"></i>
            <h3 class="h4 mb-2">Ready to Publish</h3>
            <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
            <h3 class="h4 mb-2">Made with Love</h3>
            <p class="text-muted mb-0">Want to Give a Rating?</p>
          </div>
        </div>
      </div>
    </div>
  </section>




     <!-- Portfolio Section -->
<!--
	 <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/1.jpg'%}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/1.jpg'%}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/2.jpg'%}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/2.jpg'%}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/3.jpg'%}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/3.jpg'%}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/4.jpg'%}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/4.jpg'%}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/5.jpg'%}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/5.jpg'%}" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="{% static 'home/img/portfolio/fullsize/6.jpg'%}">
            <img class="img-fluid" src="{% static 'home/img/portfolio/thumbnails/6.jpg'%}" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
-->


  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Easy Log Out!</h2>
      <a class="btn btn-light btn-xl" href="home/login/signout">Log Out</a>
    </div>
  </section>

  <!-- Contact Section -->

  {% if user.is_authenticated %}
   
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0" > <i class="fas fa-filter"></i> Filter In!</h2>
          <hr class="divider my-4">
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="home/book/search">Book's</a>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="home/user/search">User's</a>
        </div>
      </div>
    </div>
  </section>

  {% else  %}


  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5"> Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">Kunal678@admin.com</a>
        </div>
      </div>
    </div>
  </section>

  {% endif  %}

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2020 - Library Management System maintained by Kunal Sharma. </div>
      <div class="small text-center text-muted">  Designed and Developed by Kunal in ❤ with ☕ and 💻 . </div>
  
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'home/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'home/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'home/js/creative.min.js'%}"></script>

</body>

</html>